{{define "title"}} Home {{ end}}
{{define "main"}}
    <section>
        <hgroup style="text-align: center; margin-bottom: 2rem; align-items: flex-center;">
            <h1>My posts</h1>
        </hgroup>

        {{if .Posts}}
	{{ template "paginator" . }}
            <div class="grid" style="grid-template-columns: 1fr 1fr 1fr;">
                {{range .Posts}}
                    <article>
                        <h2 style="margin-top: 0;">
                            <a href="/posts/view/{{.Slug}}">
                                {{.Title}}
                            </a>
                        </h2>

                        {{if .Excerpt}}
                            <p>{{.Excerpt}}</p>
                        {{end}}

                        {{if .FeaturedImage}}
                            <img alt="blog" src="{{.FeaturedImage}}" style="width: 100%; height: auto;">
                        {{end}}

			    <small>
			      Last edit on {{.UpdatedAt.Format "Jan 2, 2006 15:04"}} &bull; {{.Status}}
			      </small>
                    </article>
                {{end}}
            </div>
        {{else}}
            <p style="text-align: center;">No posts yet. Go ahead and write something!</p>
        {{end}}
    </section>

{{end}}
