{{define "title"}} Profile {{end}}
{{define "main"}}
    {{with .User}}
        <article style="width: 100%; max-width: 500px; margin: 0 auto;">
            <hgroup>
                <h1>Hello, {{.Email}}</h1>
                <p>Welcome to your profile</p>
                {{ if .EmailVerified}}
                    <p>Your email is verified</p>
                {{else}}
                    <p>Your email is not verified. Check your email for instructions on how to do it</p>
                    {{/*    todo: add resend confirmation email functionality     */}}
                {{end}}
            </hgroup>

            <form hx-post="/logout" hx-disabled-elt="find button">
                <button type="submit">Logout</button>
            </form>

            <form hx-post="/request-password-reset" hx-target="#reset-feedback" hx-swap="innerHTML" hx-disabled-elt="find button">
                <button type="submit">
                    Reset password
                </button>
            </form>
            <div id="reset-feedback"></div>
        </article>
    {{end}}
{{end}}
