{{define "base"}}
    <!doctype html>
    <html lang='en'>
    <head>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <link href="/static/pico.orange.min.css" rel="stylesheet">
        <link href="/static/pico.colors.min.css" rel="stylesheet">
        <script src="/static/htmx.min.js"></script>
        <title>{{template "title" .}}</title>
    </head>
    <body>
    <main class="container">
        {{ template "nav" . }}
        <div style="display: flex; align-items: center; min-height: 100vh;">
            {{ template "main" . }}
        </div>
    </main>
    </body>
    </html>
{{end}}