{{define "nav"}}
    <nav>
    <ul>
        <li><strong>Funky & Goofy Blog</strong></li>
    </ul>
    {{ if .IsAuthenticated }}
        <ul>
            <li><a class="{{if eq .CurrentPage "profile" }} outline {{else}} secondary {{end}}" href="/profile">My profile</a></li>
            <li><a class="{{if eq .CurrentPage "logout" }} outline {{else}} secondary {{end}}" href="/logout" hx-post="/logout">Log out</a></li>
        </ul>
    {{else}}
        <ul>
            <li><a class="{{if eq .CurrentPage "home" }} outline {{else}} secondary {{end}}" href="/home">Home</a></li>
            <li><a class="{{if eq .CurrentPage "login" }} outline {{else}} secondary {{end}}" href="/login">Log in</a></li>
            <li><a class="{{if eq .CurrentPage "signup" }} outline {{else}} secondary {{end}}" href="/signup">Sign up</a></li>
        </ul>
    {{end}}
    </nav>
{{end}}